.DS_Store
NuWe/NuWe.xcodeproj/xcuserdata/Zizo.xcuserdatad/
NuWeDevApp-Uinversal/NuWeDevApp-Uinversal.xcodeproj/xcuserdata/
NuWeDevApp/NuWeDevApp.xcodeproj/xcuserdata/
NuWeDevApp/NuWeDevApp.xcodeproj/project.xcworkspace/xcuserdata/
NuWeClientApp/NuWeClientApp.xcodeproj/project.xcworkspace/xcuserdata/
NuWeClientApp/NuWeClientApp.xcodeproj/xcuserdata/
