<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NuWe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B4294E019A693E0004B6944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B42953519A6B1B8004B6944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B61A37E19A5C472003F9FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B61A38E19A5C472003F9FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
